.modal-content__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  position: absolute;
  justify-content: center;
  padding: 56px;
  background-color: @white;
  border-radius: 10px;
  box-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
  opacity: 0;
  pointer-events: none;
}

.modal-content__body--noscroll {
  overflow: hidden;
}

.modal-content {
  display: none;
}

.modal-content__open {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  min-height: 100%;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-content__form--open {
  opacity: 1;
  pointer-events: all;
  animation: 0.75s 0.3s forwards;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
}

.modal-content__title {
  font-size: 20px;
  line-height: 30px;
  color: @cyan--blue;
}

.modal-content__send {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 16px;
  line-height: 30px;
  color: @cyan--blue;
  opacity: 0.8;
  margin-bottom: 8px;
}

.modal__name {
  opacity: 0.4;
  border: 1px solid @blue;
  border-radius: 10px;
}

.modal__placeholder::placeholder {
  opacity: 0.2;
  color: @cyan--blue;
  font-size: 16px;
  line-height: 30px;
  padding-left: 36px;
}

.modal__placeholder {
  border-radius: 10px;
  border: 1px solid @blue;
  width: 100%;
  max-width: 428px;
}

.modal__submit--button {
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  background-color: @blue--middle;
  border: none;
  cursor: pointer;
  color: @white;
  width: 100%;
  max-width: 428px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.modal__textarea {
  margin-bottom: 72px;
  padding-top: 30px;
  padding-bottom: 50px;
  resize: none;
}

.modal__placeholder--padding {
  padding-top: 26px;
  padding-bottom: 26px;
  margin-bottom: 32px;
}

.modal-content__wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
